*{
    box-sizing: border-box;
}
body{ 
    font-family: sans-serif;
    margin:0;
}
header{
    background-color: #120323;
    color: #97bf04;
    padding:15px;   
}
#container{
    display: flex;
}
figure{
    display: flex;

}
figure img {
    border: #d9043d 5px solid;
}
figcaption {
    padding: 10px;
    margin-left: 10px;
}
    h2{
    color: #120323;
}
aside {
    background-color: #97bf04;
}

footer{
    background-color: #d9043d;
    color: white;
    padding: 25px;
    text-align: center;
}

/* For devices 1000px wide or greater */
@media only screen and (min-width: 1000px){
    header {
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 20px;
    }
    #container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        padding: 20px;
        width: 100%;
    }
    figure img{
        float:left;
        width: 290px;
        height: 290px;
    }
    aside{
        padding: 10px ;
        width:65%;
        height: auto;
    }   
}
/* For devices less than 1000px wide */
@media (min-width:769px) and (max-width:999px){

}